<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="margin-top: -20px">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
  <!--</ol>-->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'row_background2.jpg' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Ein neuer Guinness Weltrekord</h1>
          <h1>aufgestellt durch <br>die Einwohner/innen von Richterswil und Umgebung</h1>
          <hr>
          <h1>Mach auch Du mit!</h1>
          <p><%= link_to "Jetzt anmelden", new_participant_path, class: "btn btn-primary btn-lg" %></p>
          <p class="lead">Das Ziel: mindestens 750 Teilnehmer/innen</p>
        </div>
      </div>
    </div>

  </div>


  <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
</div>

<div class="container">
    <div class="row featurette">
      <div class="col-sm-4">
        <h1>Der Rekordversuch</h1>
        <p class="lead">The most people to row 100m on a Concept II Indoor Rower in an 8-hour relay</p>
        <p class="lead">(Die grösste Anzahl Personen, die in einer 8-stündigen Stafette je 100m auf einem Concept II Rudergerät rudern)</p>
      </div>
      <div class="col-sm-4">
        <img src="http://www.richti750.com/uploads/2/6/1/0/26102080/1408435903.png"><img src="http://www.richterswil.ch/de/images/41fde0a94104e.gif">
      </div>
      <div class="col-sm-4">
        <h1>Wann & Wo</h1>
        <p class="lead"><strong>Datum:</strong> Samstag, 12. September 2015</p>
        <p class="lead"><strong>Zeit:</strong> 12:00 bis 20:00 Uhr</p>
        <p class="lead"><strong>Ort:</strong> Zelt 2 an der Chüngengass in Richterswil</p>
      </div>
    </div>

  <div class="row featurette">

    <div class="col-sm-12">
      <h1>Fragen und Antworten (FAQ)</h1>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <% faq_items.each_with_index do |item, index| %>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapseOne">
                    <%= item[0] %>
                  </a>
                </h4>
              </div>
              <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <%= item[1] %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-sm-12">
      <h1>Du hast eine Frage oder eine Anregung?</h1>

      <div class="well">

        <%= bootstrap_form_for @message do |f| %>
            <%= f.text_field :name %>
            <%= f.email_field :email %>
            <%= f.phone_field :phone %>
            <%= f.text_field :subject %>
            <%= f.text_area :message, rows: 10 %>
            <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
