<div class="row">
  <div class="col-sm-8">
    <h1>Der Rekord Versuch</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="col-sm-4">
    <img src="http://placehold.it/350x350" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Wann Wie Wo</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
    <ul>
      <li>Erstens</li>
      <li>Dann Zweitens</li>
      <li>Und zu letzt</li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h1>Jetzt Provisorisch anmelden</h1>
    <%= bootstrap_form_for(@registration, layout: :horizontal) do |f| %>
        <%= f.alert_message "Please fix the errors below." %>

        <%= f.form_group :timeslots do %>
            <div class="row">
              <div class="col-md-4">
                <%= f.time_select :timeslot1, {start_hour: 12, end_hour: 20, minute_step: 15} %>
              </div>
              <div class="col-md-4">
                <%= f.time_select :timeslot2, {start_hour: 12, end_hour: 20, minute_step: 15} %>
              </div>
              <div class="col-md-4">
                <%= f.time_select :timeslot3, {start_hour: 12, end_hour: 20, minute_step: 15} %>
              </div>
            </div>

        <% end %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
        <%= f.email_field :email %>
        <%= f.telephone_field :phonenumber %>
        <div class="alert alert-info">
          <h4>Hinweis zum Datenschutz</h4>
          <p>Ihre daten werden nur für interne zwecke benötigt, um sie zu kontaktieren und werden nicht an dritte weiter gegeben.</p>
        </div>

        <%= f.submit "Anmelden", class: "btn btn-success pull-right" %>
    <% end %>
  </div>
</div>