<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -20px">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'row_background.jpg' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Ein neuer Weltrekord, aufgestellt durch die Einwohner/innen von Richterswil und Umgebung</h1>
          <p class="lead">The most people to row 100m on a Concept II Indoor Rower in an 8-hour relay</p>
          <p class="lead">(Die grösste Anzahl Personen, die in einer 8-stündigen Stafette je 100m auf einem Concept II Rudergerät rudern)</p>
          <p class="lead">Unser Ziel: mindestens 750 Teilnehmer/innen</p>
          <p><%= link_to "Jetzt anmelden", new_registration_path, class: "btn btn-primary btn-lg" %></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'row_background.jpg' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Richterswil - das Dorf der Sportlerinnen und Sportler</h1>
          <h1>Wir brauchen deine Unterstützung</h1>
          <p class="lead">Datum: Samstag, 12. September 2015</p>
          <p class="lead">Zeit: 12:00 bis 20:00 Uhr</p>
          <p class="lead">Ort: Zelt 2 an der Chüngengass in Richterswil</p>
          <p><%= link_to "Jetzt anmelden", new_registration_path, class: "btn btn-primary btn-lg" %></p>
        </div>
      </div>
    </div>
  </div>


  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
    <div class="row featurette">
      <div class="col-sm-8">
        <h1>Wann Wie Wo</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <ul>
          <li>Erstens</li>
          <li>Dann Zweitens</li>
          <li>Und zu letzt</li>
        </ul>
        <img src="http://www.richti750.com/uploads/2/6/1/0/26102080/1408435903.png"><img src="http://www.richterswil.ch/de/images/41fde0a94104e.gif">
      </div>
      <p></p>
      <div class="col-sm-4">
        <img src="http://placehold.it/350x350" class="img-responsive">
      </div>
    </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-12">
      <h1>Wer kann mitmachen? </h1>
      <p>-> Alle erwachsenen Personen (ab 18 Jahre).</p>
      <h1>Muss ich rudern können? </h1>
      <p>-> Nein. Es sind keinerlei Kenntnisse und Erfahrungen im Rudersport notwendig.</p>
      <h1>Muss ich Mitglied in einem Sportverein sein? </h1>
      <p>-> Nein. Die Mitgliedschaft in einem Sportverein ist keine Bedingung.</p>
      <h1>Muss ich ein Super-Athlet sein, um mitmachen zu können? </h1>
      <p>-> Nein. Es können alle mitmachen, die auf einem Ruder-Ergometer ca. zehn Züge machen können.</p>
      <h1>Wie kann ich mich anmelden? </h1>
      <p>-> Auf dieser Website. Einfach auf 'Jetzt anmelden' klicken. Wenn Du das Anmeldeformular ausgefüllt und abgeschickt hast, erhältst Du eine Bestätigung und deine Login-Daten per E-Mail.</p>
      <h1>Ich weiss zurzeit noch nicht definitiv, ob ich tatsächlich mitmachen kann. Soll ich mich trotzdem anmelden?</h1>
      <p>-> Ja, melde dich trotzdem an. Falls Du dann doch nicht mitmachen kannst, melde dich bitte so bald wie möglich ab. So kann dein Platz für jemand anders frei gegeben werden.</p>
      <h1>Kann ich meine Anmeldung später noch abändern? </h1>
      <p>-> Ja. Rufe diese Webseite auf und klicke auf den 'Login'-Button.</p>
      <h1>Was tun, wenn ich mich angemeldet habe, aber verhindert bin? </h1>
      <p>-> Bitte so bald wie möglich auf dieser Webseite einloggen und abmelden. So kann dein Platz für jemand anders frei gegeben werden.</p>
      <h1>Warum muss ich bei der Anmeldung einen Zeitschlitz angeben? </h1>
      <p>-> Damit wir die Teilnehmer/innen auf die 8 Stunden verteilen können.</p>
      <h1>Was ist ein Ruder-Ergometer? </h1>
      <p>-> Ein Gerät, mit dem man die Ruderbewegung auf dem Trockenen trainieren kann.</p>
      <%= image_tag 'concept2.jpg' %>
      <h1>Wie lang dauert mein Einsatz auf dem Ergometer? </h1>
      <p>-> Um auf dem Ergometer eine Strecke von 100m zurückzulegen, benötigt man ca. 20 bis 40 Sekunden.</p>
      <h1>Wann muss ich im Zelt sein? </h1>
      <p>-> Mindestens 10 Minuten vor dem Zeitschlitz, für den Du dich  angemeldet hast.</p>
      <h1>Muss ich im Sport-Tenü erscheinen? </h1>
      <p>-> Nein, nicht unbedingt. Die Bekleidung sollte jedoch so gewählt werden, dass sie die Bewegungen auf dem Ergometer nicht behindert.</p>
      <h1>Wie läuft mein Einsatz ab?</h1>
      <p>-> Am Eingang zum Zelt erhältst Du deine Startnummer. Ein Instruktor zeigt, worauf man beim Rudern auf dem Ergometer achten muss. Danach hast Du ca. drei Minuten Zeit, um das Rudern auf einem Übungs-Ergometer auszuprobieren. Anschliessend stellst Du dich in die Reihe, die zum Podest mit dem Rekord-Ergometer führt. Wenn du an der Reihe bist, steigst Du auf das Podest, ruderst deine 100m und gibst dann den Ergometer so schnell wie möglich für den nächsten Teilnehmer frei. Zum Schluss unterschreibst Du deinen Eintrag im Logbuch und nimmst dein Erinnerungsgeschenk in Empfang.</p>
      <h1>Kann ich mich umziehen? </h1>
      <p>-> Nein. Es stehen keine Garderoben zur Verfügung.</p>
      <h1>Kann ich meine Handtasche, Handy, Wertsachen während meines Einsatzes deponieren? </h1>
      <p>-> Ja. Es steht ein Kleider- und Wertsachen-Depot zur Verfügung.</p>
      <h1>Erhalte ich ein Erinnerungsgeschenk? </h1>
      <p>-> Ja. Alle Teilnehmer/innen erhalten ein Erinnerungsgeschenk; auch diejenigen, welche überzählig sind und nicht zum Einsatz kommen.</p>
      <h1>Komme ich auf jeden Fall auf dem Rekord-Ergometer zum Einsatz? </h1>
      <p>-> Leider nein. Um einen unterbruchsfreien Ablauf zu erhalten, müssen wir die Zeitschlitze überbuchen. Deshalb kann es vorkommen, dass nicht alle Teilnehmer/innen eines Zeitschlitzes zum Einsatz kommen. Du erhältst aber trotzdem ein Erinnerungsgeschenk.</p>
      <h1>Wer organisiert diesen Weltrekordversuch?</h1>
      <p>-> Organisator ist der Seeclub Richterswil. Dies ist unser Beitrag zu 750 Jahre Richterswil. Ein Anlass von der Bevölkerung für die Bevölkerung.</p>
    </div>
  </div>
  
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-sm-12">
      <h1>Du hast eine Frage? <br> <small>Setze dich mit uns in Verbindung:</small></h1>

      <div class="well">

        <%= bootstrap_form_for @message do |f| %>
            <%= f.text_field :name %>
            <%= f.email_field :email %>
            <%= f.phone_field :phone %>
            <%= f.text_field :subject %>
            <%= f.text_area :message %>
            <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
