<div class="row">
  <div class="col-sm-8">
    <h1>Der Rekord Versuch</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="col-sm-4">
    <img src="http://placehold.it/350x350" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>Wann Wie Wo</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
    <ul>
      <li>Erstens</li>
      <li>Dann Zweitens</li>
      <li>Und zu letzt</li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h1>Jetzt Provisorisch anmelden</h1>
    <%= bootstrap_form_for(@registration, layout: :horizontal) do |f| %>
        <%= f.alert_message "Bitte überprüfen sie Ihre Eingaben." %>

        <%= f.form_group :timeslots, label: {text: "Teilnahme Zeit"}, help: "Wir werden versuchen ihre wahl bestmöglich zu berücksichtigen." do %>
            <div class="row">
              <div class="col-md-4">
                <%= f.time_select :timeslot1, {label: "Prio 1",
                                               label_col: "col-sm-3",
                                               control_col: "col-sm-7",
                                               start_hour: 12,
                                               end_hour: 20,
                                               minute_step: 15} %>
              </div>
              <div class="col-md-4">
                <%= f.time_select :timeslot2, {label: "Prio 2",
                                               label_col: "col-sm-3",
                                               control_col: "col-sm-7",
                                               start_hour: 12,
                                               end_hour: 20,
                                               minute_step: 15} %>
              </div>
              <div class="col-md-4">
                <%= f.time_select :timeslot3, {label: "Prio 3",
                                               label_col: "col-sm-3",
                                               control_col: "col-sm-7",
                                               start_hour: 12,
                                               end_hour: 20,
                                               minute_step: 15} %>
              </div>
            </div>

        <% end %>
        <%= f.text_field :first_name, label: "Vorname" %>
        <%= f.text_field :last_name, label: "Nachname" %>
        <%= f.email_field :email, label: "Email", help: "Nach ihrer anmeldung werden sie eine Bestätigungsemail mit weiteren Informationen zum Anlass bekommen." %>
        <%= f.telephone_field :phonenumber, label: "Telefonnummer", help: "Wir werden sie eventuell anrufen um ..." %>

        <%= f.form_group :confirm_age, label: {text: "Alter"}, help: "Für die Teilnahme am Rekord versuch müssen sie volljährig sein. Die Organisatoren behalten sich eine Ausweiskontrolle vor" do %>
            <%= f.check_box :confirm_age, label: "Ich bestätige dass ich über 18 bin"  %>
        <% end %>

        <%= f.form_group :confirm_age, label: {text: "Teilnahmebedingungen"}, help: "" do %>
            <%= f.check_box :accept_agb, label: "Ich bestätige dass ich die Teilnahme bedingungen gelesen habe und damit einverstanden bin"  %>
        <% end %>

        <%= f.submit "Anmelden", class: "btn btn-success" %>
    <% end %>

    <div class="alert alert-info">
      <h4>Hinweis zum Datenschutz</h4>
      <p>Ihre daten werden nur für interne zwecke benötigt, um sie zu kontaktieren und werden nicht an dritte weiter gegeben.</p>
    </div>
  </div>
</div>