<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>Vielen Dank für deine Anmeldung</h1>
      <p>Die untenstehenden Details sowie weitere Informationen werden dir an die angegebene Mailadresse gesendet.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Details deiner Anmeldung</h3>
      <dl class="dl-horizontal">
        <dt>Vorname:</dt>
        <dd><%= @participant.first_name %></dd>

        <dt>Nachname:</dt>
        <dd><%= @participant.last_name %></dd>

        <dt>E-Mail:</dt>
        <dd><%= @participant.email %></dd>

        <dt>Telefon P/G:</dt>
        <dd><%= @participant.phonenumber %></dd>

        <dt>Telefon M.:</dt>
        <dd><%= @participant.mobile_number %></dd>

        <dt>Startzeit:</dt>
        <dd>20.06.2015 <strong><%= @participant.timeslot1.strftime('%H:%M') %></strong></dd>
      </dl>
      <%= link_to 'Meine Daten ändern', edit_participant_path, class: 'btn btn-default' %>
      <%= link_to 'Meine Anmeldung löschen', participant_path(current_participant), class: 'btn btn-default', method: :delete, data: {confirm: 'Sind Sie sicher dass Sie Ihre Anmeldung löschen wollen? Ihre Daten werden dabei unwiederruflich gelöscht.'} %>
    </div>
  </div>
</div>
