<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h1>Anmeldung zur Teilnahme am Weltrekordversuch</h1>

    <%= bootstrap_form_for(@registration, layout: :horizontal) do |f| %>
        <%= f.alert_message "Bitte überprüfe deine Eingaben.", error_summary: false %>

        <%= f.text_field :first_name, label: "Vorname" %>
        <%= f.text_field :last_name, label: "Nachname" %>
        <%= f.email_field :email, label: "E-Mail", help: "Nach deiner Anmeldung werden wir dir ein Bestätigungs-Mail mit weiteren Informationen zum Anlass an diese Adresse senden." %>

        <%= f.telephone_field :phonenumber, label: "Telefon P/G" %>
        <%= f.telephone_field :mobile_number, label: "Telefon M", help: "Für allfällige dringende Informationen oder Rückfragen unsererseits." %>

        <%= f.form_group :timeslots, label: {text: "Gewünschte Startzeit"} do %>
            <div class="row">
              <div class="col-md-12">
                <%= f.time_select_without_bootstrap :timeslot1, {
                                               start_hour: 12,
                                               end_hour: 20,
                                               minute_step: 15} %>
              </div>
            </div>
            <h5>Aktueller Stand der Anmeldungen <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
                   title="Die Tabelle zeigt, wie viele Teilnehmer/innen sich bereits angemeldet haben. Rot markierte Zeitschlitze sind bereits voll. "></i></h5>
            <table class="table table-bordered">
              <tr>
                <th class="col-sm-1">h/m</th>
                <th>00 - 15</th>
                <th>15 - 30</th>
                <th>30 - 45</th>
                <th>45 - 00</th>
              </tr>
              <% 8.times do |index| %>
                  <tr>
                    <th><%= index + 12 %> Uhr</th>
                    <td style="background-color: <%= time_slot_color(@registration_counts[index][0]) %>"><%= @registration_counts[index][0] %></td>
                    <td style="background-color: <%= time_slot_color(@registration_counts[index][1]) %>"><%= @registration_counts[index][1] %></td>
                    <td style="background-color: <%= time_slot_color(@registration_counts[index][2]) %>"><%= @registration_counts[index][2] %></td>
                    <td style="background-color: <%= time_slot_color(@registration_counts[index][3]) %>"><%= @registration_counts[index][3] %></td>
                  </tr>
              <% end %>
            </table>

        <% end %>

        <%= f.form_group :confirm_age, label: {text: "Alter"}, help: "Für die Teilnahme am Rekordversuch musst Du volljährig sein. Die Organisatoren behalten sich eine Ausweiskontrolle vor." do %>
            <%= f.check_box :confirm_age, label: "Ich bestätige, dass ich über 18 Jahre alt bin."  %>
        <% end %>

        <%= f.form_group :accept_agb, label: {text: "Teilnahmebedingungen"}, help: "" do %>
            <%= f.check_box :accept_agb, label: ('Ich bestätige, dass ich die <a href="#" data-toggle="modal" data-target=".bs-terms-modal-lg">Teilnahmebedingungen</a> gelesen habe und damit einverstanden bin.').html_safe  %>
        <% end %>

        <%= f.form_group :actions do %>
            <%= f.submit "Anmelden", class: "btn btn-success" %>
        <% end %>
    <% end %>

    <div class="alert alert-info col-md-offset-2 col-md-10">
      <h4>Hinweis zum Datenschutz</h4>
      <p>Deine persönlichen Daten werden nur dazu verwendet, dich im Zusammenhang mit dem Rekordversuch zu kontaktieren und dich im Teilnehmerjournal aufzuführen. Sie werden ausser an Guinness nicht an Dritte weiter gegeben.</p>
    </div>
  </div>
</div>

<div class="modal fade bs-terms-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Teilnahmebedingungen</h4>
      </div>
      <div class="modal-body">
        <h2>Mit dem Absenden meiner Anmeldung erkläre ich mich mit den nachstehenden Teilnahmebedingungen einverstanden.</h2>

        <p>•	Ich bin zum Zeitpunkt des Rekordversuchs älter als 18 Jahre.</p>

        <p>•	Ich bin gesund und in der Lage, die zu rudernde Strecke zu absolvieren.</p>

        <p>•	Ich melde mich nur einmal an und nehme nur einmal am Rekordversuch teil.</p>

        <p>•	Ich entbinde den Seeclub Richterswil von jeglicher Haftpflicht für allfällige Schäden, die mir aus der Teilnahme am Rekordversuch entstehen könnten.</p>

        <p>•	Ich verpflichte mich, mindestens 15 Minuten vor meinem gebuchten Zeitschlitz im Zelt 2 einzutreffen.</p>

        <p>•	Ich verpflichte mich, den Anweisungen der Helferinnen und Helfer zu folgen.</p>

        <p>•	Ich bin mir bewusst, dass ich eventuell nicht zum Einsatz komme, weil die Zeitschlitze überbucht werden müssen.</p>
        
        <p>•	Ich akzeptiere die Specific Guidelines von Guinness, soweit sie mich als Teilnehmer/in betreffen.</p>
        
        <p>•	Während des Weltrekordversuchs können Foto-, Film- und Fernsehaufnahmen gemacht werden. Ich akzeptiere, dass ich darauf erscheinen kann und diese Aufnahmen teilweise veröffentlicht werden.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
</div>
