<div class="row">
  <div class="col-sm-12">
    <h1>Vielen Dank für Ihre Anmeldung</h1>
    <p>Wir danken für Ihre provisorische Anmeldung. Wir werden sie bald kontaktieren</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Details Ihrer Anmeldung</h2>
    <p><strong>Name:</strong><br><%= @registration.first_name %> <%= @registration.last_name %></p>
    <p><strong>Email:</strong><br><%= @registration.email %></p>
    <p><strong>Zeitschlitz:</strong></p>
    <table class="table">
      <thead>
        <tr>
          <th>1. Priorität</th>
          <th>2. Priorität</th>
          <th>3. Priorität</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @registration.timeslot1 %></td>
          <td><%= @registration.timeslot2 %></td>
          <td><%= @registration.timeslot3 %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>